# Base de datos
DATABASE_URL=mysql://root:quRQCxjZQvbgobpelHHmcvQfIoczeBYa@switchyard.proxy.rlwy.net:19560/railway

# Seguridad (JWT)
SECRET_KEY=your-secret-key-change-in-production-min-32-chars
ACCESS_TOKEN_EXPIRE_MINUTES=120

# Admin inicial
INITIAL_ADMIN_CODE=ADMIN-BOOT-2026

# App
DEBUG=false
